<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> 

    <link rel="stylesheet"href="css/planet-style.css">
    <link rel ="shortcut icon" type="image/jpg" href ="img/logo.jpg" >
    <title>planet-plane</title>
</head>
<body>
        <header class="header">


        <div class="button">
        <a href="#" class="btn btn-white">REGISTRATION</a>
        </div>


        <div class="button">
                <a href="#" class="btn btnl-white">LOGIN</a>
         </div>
        
            


        
                <div class="text-box">
                        <h1 class="heading-primary"> 

                         </h1>
                            
                </div>  
                
                
            </header>

    </body>
    </html>